.projects{
    height:calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

.projectsTitle{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .projectsIcon{
        font-size: 40px;
    }
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;  
}

@media (max-width: 320px){
    .project{
        height: 100px;
    }

    .projectFrame{
        height: 70%;
        width: 70%;
    }

    .projectImg{
        width: 50px;  
    }

    .projectTitle{
        font-size: x-small;
    }  

}


@media (min-width: 320px){
    .project{
        height: 100px;
    }

    .projectFrame{
        height: 60%;
        width: 50%;
    }

    .projectImg{
        width: 70px;  
    }
    
    .projectTitle{
        font-size: x-small;
    }  


}

@media (min-width: 481px){ 
    .project{
        height: 120px;
    }

    .projectTitle{
        font-size: x-small;
    }

    .projectImg{
        width: 70px;  
    }

    .projectFrame{
        height: 50%;
        width: 50%;
    }
}

@media (min-width: 768px){
    .projectsContainer{
        height: 95%;
    }

    .row{
        width: 100%;
        flex: 2;
    }

    .project{
        height: 150px;
    }

    .projectTitle{
        font-size: small;
    }
    
}

@media (min-width: 960px){
    .projectsContainer{
        height: 95%;
    }

    .row{
        width: 80%;
        flex: 2;
    }

    .project{
        height: 200px;
    }

    .projectTitle{
        font-size: small;
    }
    
}
